Repository dietrichmax/docker-staticmaps, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, build, documentation, server, tests, web, config

.github/labeler.yml:

cli:
  - ".github/**"

build:
  - "docker/**"
  - "package.json"

documentation:
  - "README.md"
  - "examples/**"

server:
  - "src/**"

tests:
  - "__tests__/**"

web:
  - "public/**"

config:
  - ".env"
  - "tsconfig.json"
  - ".prettierrc.json"

updated examples
  __tests__/staticmaps/features/text.test.ts
Labels: tests

updated examples
  README.md
  examples/markers.png
Labels: documentation

updated examples
  README.md
Labels: documentation

updated examples
  README.md
  examples/markers.png
Labels: documentation

updated examples
  README.md
  examples/circle.png
Labels: documentation

Add dynamic SVG scale bar to static maps with configurable style and position
  src/generate/generateMap.ts
  src/generate/generateParams.ts
  src/types/types.ts
Labels: server

feat: add strokeDasharray support to shapes (MultiPolygon, Polyline)
  README.md
  examples/markersandpolyline.png
  examples/multipleEncodedPolylines.png
  examples/polylinepath.png
  src/features/addPolylines.ts
  src/generate/generateParams.ts
  src/staticmaps/features/circle.ts
  src/staticmaps/features/marker.ts
  src/staticmaps/features/multipolygon.ts
  src/staticmaps/features/polyline.ts
  src/staticmaps/features/text.ts
  src/staticmaps/staticmaps.ts
  src/staticmaps/utils.ts
  src/types/types.ts
Labels: documentation, server

Updated Readme params with strokeDasharray
  README.md
Labels: documentation

fix(polyline): update test to expect one call to createGeodesicLine
  __tests__/staticmaps/features/polyline.test.ts
Labels: tests

Fix line smoothing logic to apply only for polylines with exactly two points
  README.md
  examples/markersandpolyline.png
  src/staticmaps/staticmaps.ts
Labels: documentation, server

fix polyline image examples
  README.md
  examples/multipleEncodedPolylines.png
  examples/polylinepath.png
Labels: documentation

fix: apply geodesic interpolation only for polylines, not polygons
  README.md
  examples/multipleEncodedPolylines.png
  examples/polylinepath.png
  src/staticmaps/features/polyline.ts
  src/staticmaps/staticmaps.ts
Labels: documentation, server

refactor: remove MultiPolygon support in favor of multiple individual polygon features
  README.md
  __tests__/staticmaps/features/multipolygon.test.ts
  examples/markersandpolyline.png
  examples/polygonexample.png
  src/staticmaps/features.ts
  src/staticmaps/features/multipolygon.ts
  src/staticmaps/staticmaps.ts
  src/types/types.ts
Labels: documentation, server, tests

fixed tests
  __tests__/staticmaps/features/polyline.test.ts
  __tests__/staticmaps/staticmaps.test.ts
Labels: tests

feat: introduce TileManager for tile loading in StaticMaps
  README.md
  __tests__/generate/generateParams.test.ts
  __tests__/staticmaps/features/polyline.test.ts
  __tests__/staticmaps/images.test.ts
  __tests__/staticmaps/staticmaps.test.ts
  __tests__/staticmaps/tilemanager.test.ts
  __tests__/staticmaps/tileserverconfig.test.ts
  src/features/addPolylines.ts
  src/generate/generateParams.ts
  src/staticmaps/features/circle.ts
  src/staticmaps/features/polyline.ts
  src/staticmaps/image.ts
  src/staticmaps/staticmaps.ts
  src/staticmaps/tilemanager.ts
  src/staticmaps/tileserverconfig.ts
Labels: documentation, server, tests

docs: improve JSDoc for calculateZoom method
  __tests__/staticmaps/images.test.ts
  __tests__/staticmaps/staticmaps.test.ts
  src/staticmaps/staticmaps.ts
Labels: server, tests

removed log
  __tests__/staticmaps/staticmaps.test.ts
Labels: tests

fix: improve Marker.setSize to handle undefined or invalid dimensions gracefully
  __tests__/staticmaps/features/marker.test.ts
  __tests__/utils/helpers.test.ts
  src/staticmaps/features/marker.ts
  src/staticmaps/staticmaps.ts
Labels: server, tests

feat(text): add extent method to calculate bounding box with zoom and offset support
  README.md
  __tests__/staticmaps/features/text.test.ts
  examples/markersandpolyline.png
  examples/text.png
  src/staticmaps/features/text.ts
  src/staticmaps/staticmaps.ts
Labels: documentation, server, tests

refactor: move marker-related functions to renderer.ts and add comprehensive tests
  README.md
  __tests__/staticmaps/features/marker.test.ts
  __tests__/staticmaps/features/text.test.ts
  __tests__/staticmaps/renderer.markers.test.ts
  __tests__/staticmaps/renderer.test.ts
  __tests__/staticmaps/staticmaps.test.ts
  examples/minimalexample.png
  examples/polygonexample.png
  src/staticmaps/features/text.ts
  src/staticmaps/renderer.ts
  src/staticmaps/staticmaps.ts
Labels: documentation, server, tests

added favicon
  public/favicon.ico
Labels: web

added tests for staticmapsdrawer methods
  __tests__/staticmaps/staticmaps.drawer.test.ts
  __tests__/staticmaps/staticmaps.test.ts
  src/staticmaps/utils.ts
Labels: server, tests

updated node to v22 for workflows
  .github/workflows/build-test.yml
  .github/workflows/docker-build.yml
Labels: cli

fixed offsetX and offsetY for markesrs
  src/staticmaps/renderer.ts
Labels: server

Updated dependencies
  package-lock.json
  package.json
Labels: build

Fix demo page and add mode stiling
  public/index.html
Labels: web

Fix clear-text logging of sensitive information
  src/middlewares/apiKeyAuth.ts
Labels: server

set workflow permissions
  .github/workflows/build-test.yml
Labels: cli

fix(polyline): prevent infinite recursion when handling encoded polylines
  README.md
  __tests__/middlewares/apiKeyAuth.test.ts
  __tests__/staticmaps/staticmaps.drawer.test.ts
  public/ol.js
  src/staticmaps/features/polyline.ts
Labels: documentation, server, tests, web

add workflow permissions
  .github/workflows/docker-build.yml
Labels: cli

fixed permissions for labeler
  .github/workflows/pr-labeler.yml
Labels: cli

fix: make Release Drafter workflow fork-safe and merge-only
  .github/workflows/prepare-release.yml
Labels: cli

feat(build): automatically copy OpenLayers assets on install
  package-lock.json
  package.json
  public/ol.css
  public/ol.js
  scripts/copy-ol.js
Labels: build, web

copy postinstall script in image
  docker/Dockerfile
Labels: build

Refactor API key authentication to log status at startup
  __tests__/middlewares/apiKeyAuth.test.ts
  src/middlewares/apiKeyAuth.ts
  src/middlewares/authConfig.ts
  src/server.ts
Labels: server, tests

Optimize Release Drafter workflow
  .github/workflows/prepare-release.yml
Labels: cli

Protect demo page with API key while preserving demo functionality
  __tests__/middlewares/apiKeyAuth.test.ts
  __tests__/middlewares/authConfig.test.ts
  public/index.html
  src/middlewares/apiKeyAuth.ts
  src/middlewares/authConfig.ts
  src/server.ts
Labels: server, tests, web

- Added documentation for API key usage in README under Installation & Configuration
  README.md
  src/middlewares/authConfig.ts
Labels: documentation, server

removed ol package
  README.md
  docker/Dockerfile
  package-lock.json
  package.json
  public/ol.css
  public/ol.js
  scripts/copy-ol.js
  src/middlewares/authConfig.ts
Labels: build, documentation, server, web

renamed demo to interative playground
  README.md
  src/server.ts
Labels: documentation, server
