Repository dietrichmax/docker-staticmaps, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, build, documentation, server, tests, web, config

.github/labeler.yml:

cli:
  - ".github/**"

build:
  - "docker/**"
  - "package.json"

documentation:
  - "README.md"
  - "examples/**"

server:
  - "src/**"

tests:
  - "__tests__/**"

web:
  - "public/**"

config:
  - ".env"
  - "tsconfig.json"
  - ".prettierrc.json"

fix(csp): relax style-src and script-src to support demo page
  src/middlewares/headers.ts
Labels: server

chore: organize logic into services folder with map and params parser modules
  src/controllers/staticmaps.controller.ts
  src/services/map.services.ts
  src/services/params-parser.ts
Labels: server

modified tests to reflect new services structure
  __tests__/controllers/staticmaps.controller.test.ts
  src/controllers/staticmaps.controller.ts
  src/services/params-parser.services.ts
Labels: server, tests

added render duration to logger
  src/controllers/staticmaps.controller.ts
  src/services/map.services.ts
Labels: server

docs(readme): add TILE_USER_AGENT to environment variable documentation
  README.md
  src/staticmaps/staticmaps.ts
Labels: documentation, server

feat(cache): add DISABLE_TILE_CACHE env variable to control tile caching
  README.md
  src/utils/cache.ts
Labels: documentation, server

feat: add DISABLE_TILE_CACHE env var to control tile caching
  .env
  README.md
  src/server.ts
Labels: documentation, server, config

feat: add DISABLE_TILE_CACHE env var to control tile caching
  README.md
Labels: documentation

feat(cache): add TILE_CACHE_DISABLE env variable to control cache behavior
  __tests__/utils/cache.test.ts
Labels: tests

changed example marker size to 100
  README.md
  examples/markers.png
Labels: documentation

fix: handle array query params when generating cache key
  src/utils/cache.ts
Labels: server

fixed expected result
  __tests__/utils/cache.test.ts
Labels: tests

feat: Improve attribution rendering by measuring text width using canvas
  __tests__/utils/cache.test.ts
  __tests__/utils/helpers.test.ts
  package.json
  src/utils/attribution.ts
  src/utils/cache.ts
  src/utils/helpers.ts
Labels: build, server, tests

fixed api endpoint in readme
  README.md
Labels: documentation

fix: add build dependencies for canvas to Dockerfile and clean up after build
  docker/Dockerfile
Labels: build

fixed api endpoint in readme
  __tests__/utils/attribution.test.ts
  docker/Dockerfile
Labels: build, tests

fixed api endpoint in readme
  .gitignore
  docker/Dockerfile
  package-lock.json
Labels: build

fixed api endpoint in readme
  docker/Dockerfile
Labels: build

Optimize Dockerfile with multi-stage build to reduce final image size
  docker/Dockerfile
Labels: build

removed round corners of attribution background an margin
  src/utils/attribution.ts
Labels: server

removed round corners of attribution background an margin
  examples/circle.png
  examples/example2.webp
  examples/markers.png
  examples/markersandpolyline.png
  examples/minimalexample.png
  examples/multipleEncodedPolylines.png
  examples/polygonexample.png
  examples/polylinepath.png
  examples/postrequest.png
  examples/text.png
  src/utils/attribution.ts
Labels: documentation, server

removed round corners of attribution background an margin
  __tests__/utils/attribution.test.ts
Labels: tests

Install runtime dependencies required by node-canvas
  docker/Dockerfile
Labels: build

Install runtime dependencies required by node-canvas
  docker/Dockerfile
Labels: build

Install runtime dependencies required by node-canvas
  docker/Dockerfile
Labels: build

# Install runtime dependencies required by node-canvas
  docker/Dockerfile
Labels: build

more test
  README.md
  __tests__/controllers/staticmaps.controller.test.ts
  __tests__/services/__snapshots__/map.services.test.ts.snap
  __tests__/services/map.services.test.ts
  __tests__/services/params-parser.test.ts
  __tests__/staticmaps/features/circle.test.ts
  __tests__/staticmaps/features/marker.test.ts
  __tests__/staticmaps/features/multipolygon.test.ts
  __tests__/staticmaps/features/polyline.test.ts
  __tests__/staticmaps/features/text.test.ts
  __tests__/staticmaps/images.test.ts
  __tests__/staticmaps/staticmaps.test.ts
  __tests__/staticmaps/utils.test.ts
  __tests__/utils/attribution.test.ts
  __tests__/utils/cache.test.ts
  __tests__/utils/helpers.test.ts
  __tests__/utils/logger.test.ts
  __tests__/utils/rateLimit.test.ts
  package-lock.json
  package.json
  src/services/map.services.ts
  src/services/params-parser.services.ts
  src/staticmaps/staticmaps.ts
  src/staticmaps/utils.ts
  src/types/types.ts
  src/utils/cache.ts
  src/utils/helpers.ts
  src/utils/logger.ts
  tsconfig.json
Labels: build, documentation, server, tests, config

Enable PDF export support and refactor image processing
  README.md
  package-lock.json
  package.json
  src/controllers/staticmaps.controller.ts
  src/features/addCircles.ts
  src/features/addMarkers.ts
  src/features/addPolylines.ts
  src/features/addTexts.ts
  src/features/asArray.ts
  src/generate/generateMap.ts
  src/generate/generateParams.ts
  src/services/map.services.ts
  src/staticmaps/image.ts
  src/utils/logger.ts
Labels: build, documentation, server

test: add and update image tests to support PDF output
  __tests__/controllers/staticmaps.controller.test.ts
  __tests__/features/addCircles.test.ts
  __tests__/features/addMarkers.test.ts
  __tests__/features/addPolylines.test.ts
  __tests__/features/addTexts.test.ts
  __tests__/features/asArray.test.ts
  __tests__/generate/generateMap.test.ts
  __tests__/generate/generateParams.test.ts
  __tests__/services/__snapshots__/map.services.test.ts.snap
  __tests__/services/map.services.test.ts
  __tests__/services/params-parser.test.ts
  __tests__/staticmaps/circle.test.ts
  __tests__/staticmaps/images.test.ts
  __tests__/staticmaps/marker.test.ts
  __tests__/staticmaps/multipolygon.test.ts
  __tests__/staticmaps/polyline.test.ts
  __tests__/staticmaps/text.test.ts
  __tests__/utils/logger.test.ts
  src/features/index.ts
  src/staticmaps/image.ts
  src/utils/logger.ts
Labels: server, tests

fix logger test
  __tests__/utils/logger.test.ts
Labels: tests

fix: remove redundant npm install from final Docker stage to avoid build errors
  docker/Dockerfile
Labels: build

Add detailed JSDoc comments and inline documentation to Express app setup
  src/controllers/staticmaps.controller.ts
  src/features/addCircles.ts
  src/features/addMarkers.ts
  src/features/addPolylines.ts
  src/features/addTexts.ts
  src/features/asArray.ts
  src/features/index.ts
  src/generate/generateMap.ts
  src/generate/generateParams.ts
  src/middlewares/apiKeyAuth.ts
  src/middlewares/headers.ts
  src/routes/index.ts
  src/routes/staticmaps.routes.ts
  src/server.ts
  src/utils/attribution.ts
  src/utils/basemaps.ts
  src/utils/cache.ts
  src/utils/helpers.ts
  src/utils/logger.ts
  src/utils/rateLimit.ts
Labels: server

Add detailed JSDoc comments and inline documentation to Express app setup
  __tests__/utils/logger.test.ts
  src/generate/generateMap.ts
  src/generate/generateParams.ts
  src/middlewares/headers.ts
  src/routes/index.ts
  src/server.ts
  src/staticmaps/image.ts
  src/staticmaps/staticmaps.ts
  src/types/types.ts
  src/utils/basemaps.ts
  src/utils/helpers.ts
  src/utils/logger.ts
  src/utils/rateLimit.ts
Labels: server, tests

improved logging
  src/controllers/staticmaps.controller.ts
  src/generate/generateMap.ts
Labels: server

fix(tests): mock generateMap to return expected object with buffer and renderTime
  __tests__/controllers/staticmaps.controller.test.ts
  __tests__/generate/generateMap.test.ts
  __tests__/generate/generateParams.test.ts
  __tests__/staticmaps/staticmaps.test.ts
  src/generate/generateMap.ts
  src/types/types.ts
Labels: server, tests

fixed tests
  __tests__/controllers/staticmaps.controller.test.ts
  __tests__/generate/generateParams.test.ts
  __tests__/staticmaps/staticmaps.test.ts
  src/controllers/staticmaps.controller.ts
  src/generate/generateMap.ts
  src/generate/generateParams.ts
Labels: server, tests

updated examples
  README.md
  examples/multipleEncodedPolylines.png
Labels: documentation

updated examples
  README.md
  examples/multipleEncodedPolylines.png
  examples/polylinepath.png
Labels: documentation

updated examples
  README.md
  examples/multipleEncodedPolylines.png
  src/generate/generateParams.ts
  src/staticmaps/features/text.ts
Labels: documentation, server

updated examples
  examples/markersandpolyline.png
  examples/multipleEncodedPolylines.png
Labels: documentation
