Repository dietrichmax/docker-staticmaps, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, build, documentation, server, web, config

.github/labeler.yml:

cli:
  - ".github/**"

build:
  - "docker/**"
  - "package.json"

documentation:
  - "README.md"
  - "examples/**"

server:
  - "src/**"

web:
  - "public/**"

config:
  - ".env"
  - "tsconfig.json"
  - ".prettierrc.json"

updated readme with new params
  README.md
  examples/markers.png
  examples/markersandpolyline.png
Labels: documentation

fix color for multiple markers
  README.md
  examples/markersandpolyline.png
  src/staticmaps/staticmaps.ts
Labels: documentation, server

fix images
  examples/polygonexample.png
  examples/polylinepath.png
Labels: documentation

added resizeMode param for markers
  README.md
  package.json
  src/controllers/staticmaps.controller.ts
Labels: build, documentation, server

added resizeMode param for markers
  README.md
  package.json
  src/controllers/staticmaps.controller.ts
  src/staticmaps/staticmaps.ts
  src/types/types.ts
Labels: build, documentation, server

fixed marker postition
  README.md
  src/controllers/staticmaps.controller.ts
  src/staticmaps/features/marker.ts
  src/staticmaps/staticmaps.ts
Labels: documentation, server

updated marker test
  __tests_/staticmaps/marker.test.ts
Labels: none

updated example
  README.md
  examples/markersandpolyline.png
Labels: documentation

feat(attribution): add attribution overlay support and document usage in README
  README.md
  __tests_/controllers/staticmaps.controller.test.ts
  __tests_/utils/basemaps.test.ts
  examples/circle.png
  examples/example1.png
  examples/example2.webp
  examples/example3.png
  examples/markers.png
  examples/markersandpolyline.png
  examples/minimalexample.png
  examples/multipleEncodedPolylines.png
  examples/polygonexample.png
  examples/polylinepath.png
  examples/postrequest.png
  examples/text.png
  src/controllers/staticmaps.controller.ts
  src/staticmaps/staticmaps.ts
  src/types/types.ts
  src/utils/attribution.ts
  src/utils/basemaps.ts
  src/utils/helpers.ts
Labels: documentation, server

fix readme
  README.md
Labels: documentation

fix readme
  README.md
Labels: documentation

fix readme
  README.md
  examples/multipleEncodedPolylines.png
Labels: documentation

modifed toc
  README.md
Labels: documentation

modifed toc
  README.md
Labels: documentation

modifed toc
  README.md
Labels: documentation

chore(docker): optimize Dockerfile with Node.js 22, fonts, and healthcheck
  docker/Dockerfile
Labels: build

feat(security): improve HTTP security headers and CSP policy
  src/middlewares/headers.ts
Labels: server

test(security): update headers middleware tests for new security policy
  __tests_/middlewares/headers.test.ts
Labels: none
