Repository dietrichmax/docker-staticmaps, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, build, documentation, server, tests, web, config

.github/labeler.yml:

cli:
  - ".github/**"

build:
  - "docker/**"
  - "package.json"

documentation:
  - "README.md"
  - "examples/**"

server:
  - "src/**"

tests:
  - "__tests__/**"

web:
  - "public/**"

config:
  - ".env"
  - "tsconfig.json"
  - ".prettierrc.json"

refactor: simplify map parameter parsing and enforce image size limits
  src/generate/generateParams.ts
Labels: server

add info for width/height size limits
  README.md
Labels: documentation

chore: update npm packages to latest safe versions
  package-lock.json
  package.json
Labels: build

removed underline for headers
  README.md
Labels: documentation

added badges again
  README.md
Labels: documentation

fixed licence
  README.md
Labels: documentation

onBrokenLinks behaviour to warn
  docs/docusaurus.config.ts
Labels: none

doc deployment badge
  README.md
Labels: documentation

changed wording to Tutorial
  docs/src/pages/index.tsx
Labels: none

changed wording to Tutorial
  .github/workflows/deploy-docs.yml
  README.md
Labels: cli, documentation
