Repository dietrichmax/docker-staticmaps, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, build, documentation, server, web, config

.github/labeler.yml:

cli:
  - ".github/**"

build:
  - "docker/**"
  - "package.json"

documentation:
  - "README.md"
  - "examples/**"

server:
  - "src/**"

web:
  - "public/**"

config:
  - ".env"
  - "tsconfig.json"
  - ".prettierrc.json"

restructured README
  README.md
Labels: documentation

restructured README
  README.md
Labels: documentation

refactor(core): multiple core functions for improved readability, maintainability, and efficiency in the map API.
  .env
  .gitignore
  README.md
  package.json
  src/controllers/staticmaps.controller.js
  src/index.ts
  src/routes.ts
  src/routes/index.ts
  src/routes/staticmaps.routes.ts
  src/server.ts
  src/staticmaps/staticmaps.js
  src/utils.js
  tsconfig.json
Labels: build, documentation, server, config

feat(cli): add Jest tests with GitHub Actions CI
  .babelrc
  .github/workflows/build-test.yml
  .github/workflows/docker-build.yml
  .gitignore
  jest.config.ts
  tests/staticmaps.test.ts
Labels: cli

chore: improve log formatting for better readability
  .gitignore
  src/utils/logger.ts
Labels: server

Refactor: Bound and Circle class to throw an error for missing coordinates
  src/staticmaps/bound.ts
  src/staticmaps/circle.ts
Labels: server

hotfx: Ensure directory imports have an index.js file for ES module compatibility
  src/controllers/staticmaps.controller.js
  src/routes/index.ts
  src/routes/staticmaps.routes.ts
  src/server.ts
  src/staticmaps/staticmaps.js
Labels: server

hotfix(docker): Ensure directory imports have an index.js file for ES module compatibility
  .github/workflows/docker-build.yml
  package.json
Labels: cli, build

hotfix(docker): Ensure directory imports have an index.js file for ES module compatibility
  .github/workflows/docker-build.yml
  README.md
  src/server.ts
Labels: cli, documentation, server

hotfix(docker): Ensure directory imports have an index.js file for ES module compatibility
  .github/workflows/docker-build.yml
Labels: cli

hotfix(docker): Ensure directory imports have an index.js file for ES module compatibility
  .github/workflows/docker-build.yml
Labels: cli

hotfix(docker): Ensure directory imports have an index.js file for ES module compatibility
  .github/workflows/docker-build.yml
Labels: cli

chores: formatted code
  .babelrc
  .github/workflows/build-test.yml
  jest.config.ts
  public/index.html
  src/controllers/staticmaps.controller.js
  src/server.ts
  src/staticmaps/staticmaps.js
  tests/staticmaps.test.ts
  tsconfig.json
Labels: cli, server, web, config

chores: converted to typescript
  src/controllers/staticmaps.controller.ts
Labels: server

Refactor: Unify MapRequest type across routes and controllers
  src/controllers/staticmaps.controller.ts
  src/routes/staticmaps.routes.ts
Labels: server

fix: circle coord is now passed properly and rendering again
  src/controllers/staticmaps.controller.ts
Labels: server

feat: convert staticmaps.js to TypeScript and fix fetch timeout issue
  README.md
  package.json
  src/controllers/staticmaps.controller.ts
  src/routes/staticmaps.routes.ts
  src/staticmaps/bound.ts
  src/staticmaps/circle.ts
  src/staticmaps/marker.ts
  src/staticmaps/multipolygon.ts
  src/staticmaps/polyline.ts
  src/staticmaps/staticmaps.ts
  src/staticmaps/text.ts
  src/staticmaps/utils.ts
  src/types/global.d.ts
  src/utils/basemaps.ts
  tsconfig.json
Labels: build, documentation, server, config

fix(cli): build docker only on release publish
  .github/workflows/docker-build.yml
Labels: cli

feat: add geodesic line function and update docs
  examples/markersandpolyline.png
  src/controllers/staticmaps.controller.ts
  src/staticmaps/multipolygon.ts
  src/staticmaps/polyline.ts
  src/staticmaps/staticmaps.ts
  src/staticmaps/utils.ts
  src/types/global.d.ts
Labels: documentation, server

feat: add text rendering support and update README
  README.md
  examples/text.png
  src/controllers/staticmaps.controller.ts
Labels: documentation, server

Implement tests with Jest and set up Webpack for build
  .github/workflows/docker-build.yml
  __tests_/controllers/staticmaps.controller..test.ts
  __tests_/staticmaps/bound.test.ts
  __tests_/staticmaps/tileserverconfig.test.ts
  jest.config.js
  jest.config.ts
  package.json
  src/controllers/staticmaps.controller.ts
  src/middlewares/apiKeyAuth.ts
  src/routes/index.ts
  src/routes/staticmaps.routes.ts
  src/server.ts
  src/staticmaps/polyline.ts
  src/staticmaps/staticmaps.ts
  tests/staticmaps.test.ts
  webpack.config.js
Labels: cli, build, server

hotfix(docker): fonts are now installed in docker image
  .babelrc
  .gitignore
  docker/Dockerfile
Labels: build

feat(docker): added healthcheck in Dockerfile
  docker/Dockerfile
Labels: build

docker build on every push
  .github/workflows/docker-build.yml
Labels: cli

feat: Enable multiple shapes rendering for markers, polygons, circles, text, and polylines
  README.md
  examples/markersandpolyline.png
  src/controllers/staticmaps.controller.ts
Labels: documentation, server

refactor: simplify map generation by normalizing input handling
  README.md
  examples/markersandpolyline.png
  src/controllers/staticmaps.controller.ts
Labels: documentation, server

chore(ci): add GitHub release tag to Docker image versions
  .github/workflows/docker-build.yml
Labels: cli

formatted code
  README.md
  __tests_/controllers/staticmaps.controller..test.ts
  __tests_/staticmaps/bound.test.ts
  __tests_/staticmaps/tileserverconfig.test.ts
  jest.config.js
  src/controllers/staticmaps.controller.ts
  src/staticmaps/polyline.ts
  src/staticmaps/utils.ts
  webpack.config.js
Labels: documentation, server

refactor(auth): simplify API key logic to rely solely on API_KEY env var
  .env
  src/middlewares/apiKeyAuth.ts
Labels: server, config

updated readme for api key
  README.md
Labels: documentation

updated readme for api key
  README.md
Labels: documentation

updated dependencies
  package.json
Labels: build

reversed lat,lon for geodesic line
  examples/markersandpolyline.png
  src/controllers/staticmaps.controller.ts
  src/staticmaps/polyline.ts
  src/staticmaps/utils.ts
Labels: documentation, server

updated packages
  package.json
Labels: build

release pipeline
  .github/workflows/docker-build.yml
Labels: cli

fix: smooth only polylines and preserve endpoints
  src/controllers/staticmaps.controller.ts
  src/middlewares/apiKeyAuth.ts
  src/staticmaps/polyline.ts
  src/staticmaps/staticmaps.ts
  src/staticmaps/utils.ts
Labels: server

removed first and last point
  src/staticmaps/staticmaps.ts
Labels: server

updated images in readme
  examples/markersandpolyline.png
  examples/polygonexample.png
  examples/polylinepath.png
Labels: documentation

fixed post request support
  src/controllers/staticmaps.controller.ts
  src/staticmaps/staticmaps.ts
  src/staticmaps/utils.ts
  src/utils/logger.ts
Labels: server

fix: add typed MapRequest interface and improve handleMapRequest with type safety
  src/controllers/staticmaps.controller.ts
Labels: server
