Repository dietrichmax/docker-staticmaps, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, build, documentation, server, web, config

feat: added arm64 build
  .github/workflows/docker-build.yml
Labels: cli

fix: specify correct Dockerfile path for multi-platform build
  .github/workflows/docker-build.yml
Labels: cli

fix: arm64 build
  .github/workflows/docker-build.yml
Labels: cli

feat: add support for encodedPolyline in GET and POST shape parameters
  package.json
  src/controllers/staticmaps.controller.ts
Labels: build, server

removed logger
  src/controllers/staticmaps.controller.ts
Labels: server

updated readme for encoded polylines
  README.md
  examples/multipleEncodedPolylines.png
  examples/postrequest.png
Labels: documentation

updated readme for encoded polylines
  README.md
Labels: documentation

replaced console.error with logger.error
  src/controllers/staticmaps.controller.ts
Labels: server

changed png link
  README.md
  src/controllers/staticmaps.controller.ts
  src/utils/logger.ts
Labels: documentation, server

fixed demo zoom
  README.md
  package.json
  public/index.html
Labels: build, documentation, web

chore(middleware): optimize security headers and API key authentication
  src/controllers/staticmaps.controller.ts
  src/middlewares/apiKeyAuth.ts
Labels: server

allow longer re.url
  src/server.ts
Labels: server

chore(middleware): optimize security headers and API key authentication
  src/middlewares/headers.ts
  src/routes/index.ts
Labels: server

Refactor and improve staticmaps project
  __tests_/controllers/staticmaps.controller..test.ts
  src/middlewares/apiKeyAuth.ts
  src/server.ts
  src/utils/helpers.ts
Labels: server

feat: add rate limiting with custom logging and implement tile caching
  package.json
  src/controllers/staticmaps.controller.ts
  src/routes/staticmaps.routes.ts
  src/types/types.ts
  src/utils/cache.ts
  src/utils/rateLimit.ts
Labels: build, server

added rate-limiting and cache description
  README.md
Labels: documentation

Cache key generation: add debug logging for dev mode and normal operation
  src/utils/cache.ts
Labels: server

fix text rendering
  src/controllers/staticmaps.controller.ts
  src/utils/cache.ts
Labels: server

updated docker setup for env variables
  README.md
  docker/Dockerfile
  docker/docker-compose.yml
Labels: build, documentation

Add tests for handleMapRequest with mocked StaticMaps rendering
  __tests_/controllers/staticmaps.controller..test.ts
  __tests_/controllers/staticmaps.controller.test.ts
  __tests_/middlewares/apiKeyAuth.test.ts
  __tests_/middlewares/headers.test.ts
  __tests_/staticmaps/bound.test.ts
  __tests_/staticmaps/circle.test.ts
  __tests_/staticmaps/images.test.ts
  __tests_/staticmaps/marker.test.ts
  __tests_/staticmaps/multipolygon.test.ts
  __tests_/staticmaps/polyline.test.ts
  __tests_/staticmaps/text.test.ts
  __tests_/staticmaps/utils.test.ts
  __tests_/utils/basemaps.test.ts
  __tests_/utils/cache.test.ts
  __tests_/utils/helpers.test.ts
  __tests_/utils/logger.test.ts
  __tests_/utils/rateLimit.test.ts
  src/controllers/staticmaps.controller.ts
  src/middlewares/apiKeyAuth.ts
  src/server.ts
  src/staticmaps/bound.ts
  src/staticmaps/circle.ts
  src/staticmaps/image.ts
  src/staticmaps/marker.ts
  src/staticmaps/multipolygon.ts
  src/staticmaps/polyline.ts
  src/staticmaps/staticmaps.ts
  src/staticmaps/text.ts
  src/staticmaps/utils.ts
  src/types/types.ts
  src/utils/cache.ts
  src/utils/helpers.ts
  src/utils/rateLimit.ts
Labels: server

logger test
  __tests_/utils/logger.test.ts
Labels: none

improved logging
  __tests_/controllers/staticmaps.controller.test.ts
  src/controllers/staticmaps.controller.ts
  src/staticmaps/shapes.ts
  src/staticmaps/staticmaps.ts
Labels: server

updated readme
  README.md
Labels: documentation

updated readme
  README.md
Labels: documentation

updated readme
  README.md
Labels: documentation

jest ts
  jest.config.js
  jest.config.ts
Labels: none

license
  LICENSE
Labels: none

feat: add image quality parameter for static map generation
  __tests_/staticmaps/circle.test.ts
  __tests_/staticmaps/marker.test.ts
  __tests_/staticmaps/multipolygon.test.ts
  __tests_/staticmaps/polyline.test.ts
  __tests_/staticmaps/text.test.ts
  src/controllers/staticmaps.controller.ts
  src/staticmaps/features.ts
  src/staticmaps/features/circle.ts
  src/staticmaps/features/marker.ts
  src/staticmaps/features/multipolygon.ts
  src/staticmaps/features/polyline.ts
  src/staticmaps/features/text.ts
  src/staticmaps/shapes.ts
  src/staticmaps/staticmaps.ts
  src/types/types.ts
Labels: server

feat: add image quality parameter for static map generation
  src/staticmaps/staticmaps.ts
Labels: server

removed unused attribute
  src/staticmaps/staticmaps.ts
Labels: server

fixed zoomRange
  src/controllers/staticmaps.controller.ts
Labels: server

updated supported params
  README.md
Labels: documentation

removed unused position
  src/controllers/staticmaps.controller.ts
  src/staticmaps/features/marker.ts
  src/staticmaps/staticmaps.ts
Labels: server

chore: update .dockerignore to exclude dev, build, and editor files
  .dockerignore
Labels: none

added docker image size shield
  README.md
Labels: documentation

license
  LICENSE
Labels: none

license
  LICENSE
Labels: none

license
  README.md
Labels: documentation

fixed fill param for polyline and polygon and changed marker icon
  README.md
  __tests_/staticmaps/polyline.test.ts
  jest.config.ts
  public/images/marker-28.png
  public/images/marker.png
  src/controllers/staticmaps.controller.ts
  src/staticmaps/features/circle.ts
  src/staticmaps/features/multipolygon.ts
  src/staticmaps/staticmaps.ts
  src/types/staticmaps.ts
  src/types/types.ts
Labels: documentation, server, web

feat(marker): add support for color parameter to style SVG icon
  __tests_/staticmaps/circle.test.ts
  __tests_/staticmaps/multipolygon.test.ts
  public/images/marker.png
  src/controllers/staticmaps.controller.ts
  src/staticmaps/features/marker.ts
  src/staticmaps/staticmaps.ts
  src/types/types.ts
Labels: server, web

.github/labeler.yml:

cli:
  - ".github/**"

build:
  - "docker/**"
  - "package.json"

documentation:
  - "README.md"
  - "examples/**"

server:
  - "src/**"

web:
  - "public/**"

config:
  - ".env"
  - "tsconfig.json"
  - ".prettierrc.json"
